# Content of /etc/systemd/system/web_camera_server.service

# sudo systemctl enable web_camera_server
# sudo systemctl status web_camera_server
# sudo systemctl start web_camera_server
# sudo systemctl stop web_camera_server

[Unit]
Description=Web camera server
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/Projects/web_camera_server/deploy_result
ExecStart=/home/pi/Projects/web_camera_server/deploy_result/web_camera_server
TimeoutStartSec=0
Restart=on-failure
RestartSec=30

[Install]
WantedBy=default.target